/* Estilo de las nubes */
.cloud {
    position: absolute;
    background: #ffffff; /* Nubes blancas */
    border-radius: 50%;
    opacity: 0.8;
    animation: floatClouds 60s linear infinite;
}

/* Diferentes tamaños y posiciones para las nubes */
.cloud-1 {
    width: 300px;
    height: 150px;
    top: 20%;
    left: -20%;
}

.cloud-2 {
    width: 250px;
    height: 130px;
    top: 40%;
    left: 50%;
}

.cloud-3 {
    width: 200px;
    height: 120px;
    top: 10%;
    right: -10%;
}

.cloud-4 {
    width: 180px;
    height: 100px;
    top: 30%;
    left: -10%;
}

.cloud-5 {
    width: 220px;
    height: 130px;
    top: 50%;
    right: 5%;
}

.cloud-6 {
    width: 270px;
    height: 150px;
    top: 70%;
    left: 30%;
}

.cloud-7 {
    width: 300px;
    height: 170px;
    top: 60%;
    left: 60%;
}

.cloud-8 {
    width: 230px;
    height: 120px;
    top: 20%;
    right: -30%;
}

.cloud-9 {
    width: 280px;
    height: 150px;
    top: 40%;
    right: 10%;
}

/* Animación de movimiento de las nubes */
@keyframes floatClouds {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Nubes flotantes para crear un efecto de movimiento */
.clouds-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 100px); /* Altura ajustada para que las nubes no atraviesen el footer */
    pointer-events: none; /* Para que no interfiera con los clics */
    overflow: hidden; /* Evita que las nubes causen desplazamiento */
    z-index: -1; /* Asegura que las nubes estén por detrás del contenido */
}

/* Responsividad */
@media screen and (max-width: 768px) {
    .cloud-1 {
        width: 200px;
        height: 100px;
    }

    .cloud-2 {
        width: 180px;
        height: 100px;
    }

    .cloud-3 {
        width: 150px;
        height: 90px;
    }

    .cloud-4 {
        width: 130px;
        height: 80px;
    }

    .cloud-5 {
        width: 180px;
        height: 110px;
    }

    .cloud-6 {
        width: 220px;
        height: 120px;
    }

    .cloud-7 {
        width: 250px;
        height: 140px;
    }

    .cloud-8 {
        width: 200px;
        height: 100px;
    }

    .cloud-9 {
        width: 220px;
        height: 120px;
    }
}
